@import url('../css/fonts.css');


html,
body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}  
  
  /* ---------------- Global Classes ---------------*/
  
  a {
    text-decoration: none;
    color: var(--text-gray);
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  ul {
    list-style-type: none;
  }
  
  h1 {
    font-family: var(--Lexend);
    font-size: 20rem;
  }
  
  h2 {
    font-family: var(--Lexend);
  }
  
  h3 {
    font-family: var(--Abel);
    font-size: 1.3rem;
  }
  
  button.btn {
    border: none;
    border-radius: 0rem;
    padding: 2rem 38rem;
    font-size: 1.5rem;
    font-family: var(--Livvic);
    cursor: pointer;
    background-color: rgb(229, 241, 241);
    padding-bottom: 2rem;
  }
  
  span {
    font-family: var(--Abel);
  }
  
  .container {
    margin: 0 5vw;
  }
  
  .text-gray {
    color: var(--text-gray);
  }
  
  p {
    font-family: var(--Lexend);
    color: var(--text-light);
  }
  
  /* ------x------- Global Classes -------x-------*/

.portfolio {
    background-color: #eee;
}

.img-atas img {
    width: 200px
}

.img-bawah img {
    width: 400px
}


.img-bawah .col-md-4 img {
    padding-left: 50px;
    padding-top: 0px;
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-4 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 100px;
}